* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* 
.fullscreen {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
} */

.nav {
    margin-left: 30px;
    width: 95%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.menu-list {
    display: flex;
    gap: 30px;
    flex-direction: row;
    align-items: flex-start;
}

.font70px {
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 105px;
    position: relative;
    top: 463px;
    left: 157px;
}

.banner-1 {

    width: 100%;
    justify-content: center;
}

.galaxy {
    margin: auto 0;
    padding-left: 100px;
}

.sum {
    position: absolute;
    right: 0px;
}

.banner-2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
}

.font30 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
}

.banner2-left {
    position: relative;
    top: 34px;
    justify-content: flex-start;
    padding-left: 42px;

}

.banner2-right {
    position: relative;
    top: 34px;
    right: 0px;
    justify-content: flex-end;
    padding-right: 42px;
}

.banner-3 {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

.font32 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    margin: 30px;
}

.phoneimages {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.phonename {
    align-items: center;
    text-align: center;
}

.footer1 {
    display: flex;
    color: #999999;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-bottom: 88px;
    margin-left: 20px;
}

.footer2 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 20px;
    margin-bottom: 80px;
}

.smallfont {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

.footer3 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 191px;
    background: url(image 7.png) center / cover;
}